body {
    background-image: url("../images/moskenes_norway.jpg");
    background-size: 100%;
}

.welcome {
    padding-top: 1em;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
}