
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model ExternalLogins.ViewModels.DashboardViewModel

<p style="margin-top:60px;"></p>
<div class="ui three column grid">
    <div class="column">
    </div>
    <div class="column">
        <h1 class="welcome">
            WELCOME!
        </h1>
    </div>
    <div class="column">
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".rating").rating();
    });
</script>
